<p>
  <strong>Employee Name:</strong>
  <%= @employee.name %>
</p>
 
 <p>
   <strong>Date Of Joining:</strong>
   <%= @employee.doj %>
 </p>
 
<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @employee.dob %>
</p>

<%= link_to 'Employees Inventory Page', employees_path %> 
<br>
<%= link_to 'New Employee', new_employee_path %>