<center><h1>Employee Details</h1>
<p>
  <strong>Employee Name:</strong>
  <%= @employee.name %>
</p>
 
 <p>
   <strong>Date Of Joining:</strong>
   <%= @employee.doj %>
 </p>
 
<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @employee.dob %>
</p>

<%= link_to 'InventoryPage', employees_path %> 


<%= link_to 'Edit', edit_employee_path(@employee) %>
</center>