<center><h1>Employee Details</h1>
<p>
  <strong>Employee Name:</strong>
  <%= @employee.name %>
</p>
 
 <p>
   <strong>Date Of Joining:</strong>
   <%= @employee.doj %>
 </p>
 
<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @employee.dob %>
</p>

<td><%= link_to 'Edit', edit_employee_path(@employee) %></td>
<td><%= link_to 'Delete', @employee, method: :delete,
	                                       data: { confirm: 'Are you sure?' } %></td>
<br>
<%= link_to 'back', employees_path %> 
</center>